.nav-item {
    background-color: #F0F3F7;
    padding: 5px 15px;
    border-radius: 20px;
    text-align: center;
}

.nav-item-active {
    color: #ffb108;
}

@media (max-width: 576px) { 
    .nav-item {
        padding: 2px 12px;
        border-radius: 20px;
        text-align: center;
    }
    
}